* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg_azule;
    font-family: 'Roboto', sans-serif;;

}

.container {
    width: 1170px;
    margin: auto;

}